@model Movie

@{
    ViewData["Title"] = "Details - " + Model.Title;
}

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("CategoryMenu")
    </div>
    <div class="col-md-9">
        <div class="card mb-3" style="margin-top:23px;">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="/img/@Model.ImageURL" alt="@Model.Description" class="card-img img-thumbnail" style="border:0;" />
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Title</h5>
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <small class="text-muted">3 days ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
