@model List<Category>

<div class="list-group text-center" style="margin-top:23px">
    
    <a href="/Home/Movies" class="list-group-item list-group-item-dark list-group-item-action @(ViewBag.SelectedCategory == null ? "active" : "")">All</a>
    @foreach (var category in Model)
    {
        <a asp-controller="Home" asp-action="Movies" asp-route-id="@category.Id" class="list-group-item list-group-item-dark list-group-item-action @(ViewBag.SelectedCategory == category.Id.ToString() ? "active" : "")">@category.Name</a>
    }

</div>