/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.list-group-item-dark:hover {
    background-color: #424242;
}

.list-group-item:active {
    background-color: #2b2b2b;
    color: #2b2b2b;
}

.list-group-item-dark {
    background-color: white;
}

/* Provide sufficient contrast against white background */
a {
    color: orangered;
}

a:hover {
    color:red;
}

a:active {
    color: darkred;
}

.navbar {
    background-color: #2b2b2b;
}

.btn {
    background-image: linear-gradient(#52565a, #3a3f44 60%, #353a3f);
    border-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    color: #fff;
    background-color: #3a3f44;
    background-image: linear-gradient(#52565a, #3a3f44 60%, #353a3f);
    border-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    color: #fff;
    background-color: #3a3f44;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.btn-primary {
    color: #fff;
    background-color: #3a3f44;
    border-color: #3a3f44;
    background-image: linear-gradient(#52565a, #3a3f44 60%, #353a3f);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-color: #424242;
    margin-bottom: 60px;
}
.footer {
    background-color: #2b2b2b;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
