@{
    ViewData["Title"] = "MovieStorm";
}

<div class="text-center">
    <div class="container-fluid" style="margin-top:50px;">
        <h1 class="text-light font-weight-bold" style="font-size: 70px; font-variant: small-caps; text-shadow: 0px 10px 12px gray;">Welcome to MovieStorm!</h1>
        <div class="row no-gutters">
            <div class="col"></div>
            <div class="col-lg-7 text-light text-left" style="padding-top:125px">
                <h3 style="font-size: 28px;" >About MovieStorm:</h3>
                <p style="padding-top: 15px; font-size: 20px;">MovieStorm is a site that gives you the opportunity to rate your favorite or most hated movies or TV shows!</p>

            </div>
            <div class="col-lg-4" style="padding-top:25px">
                <img src="./img/MovieStorm.png" alt="Logo" style="width:370px; text-align:left;">
            </div>
        </div>
    </div>
</div>
