@model List<Movie>

@{
    ViewData["Title"] = "Movies";
}

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("CategoryMenu")
    </div>
    <div class="col-md-9">
        <partial name="_movies" model="Model"/>
    </div>
</div>